html, body {
    margin: 0;
    padding: 0;
    }
   body {
    background-color: white; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
    max-width: 100vw;
    }
   h1 {
    font-size: 200%; 
    text-align: center;
    }
   h2 {
    font-size: 150%; 
    color: red; 
    padding-left: 15px;
    }
   p,ul,li,td {
    }
   a:link {
    text-decoration: none;
    }
   a:visited {
    }
   a:hover {
    text-decoration: none;

   }
   a:active, a:focus {
   }


/* ---------------Start CSS -----------------------------*/

/* --- Header --- */

header {

    max-width: 100vw;

}

.jumbostron{   
    width: 100vw;
}

.head-background{width: 100vw;
    background-image: url("./../img/home/fond_20haut.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 40vh; 
}

.head-logo{
    position: relative;
    left: 5%;
    top: 10%;
    max-width: 30%;
height: auto;
    
}

/* --- NavBar --- */

nav{
    width: 100vw;
    margin-top: 2px;
    min-height: 30px;
    max-height: 54px;
    border-top:#cc9900 solid 0.5px;
    border-bottom:#cc9900 solid 0.5px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}
.bg-light{
    background-image: linear-gradient(
        to bottom, 
        rgba(229, 229, 228, 1),
        rgba(210, 210, 210, 0.7),
        rgba(180,180,180, 0.8),
        rgba(180,180,180, 0.9),
        rgba(180,180,180, 0.8),
        rgba(210, 210, 210, 0.7),
        rgba(229, 229, 228, 1)
        )
}

.navbar-light .navbar-toggler {
    color: #cc9900;
    border-color:#cc9900;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #cc9900;
}
.show>ul{
    text-align: center;
}
.tags{
    color: #cc9900;
    width: 100vw;
    border-top:#cc9900 solid 0.5px;
    border-bottom:#cc9900 solid 0.5px;
}
@media (max-width: 990px) {
    .show {
    z-index: 999;
    background: rgba(0,0,0,0.2);
    background-color: 
    rgb(210, 210, 210);
    border:#c90 solid 2px;
    margin-top: 6px;
    padding-left: 14px;
    border-radius: 0px 0px 9px 9px;
    padding-bottom: 14px;
    }
}
footer{
    position: relative;
    bottom: 0px;
    width: 100vw;
    left: -8px;
    padding-right: 0 !important;

    padding-left: 0 !important;
    
    margin-right: 0 !important;
    
    margin-left: 0 !important;
}
.paragraph-gold{
    width: 80%;
    text-align: center;
    margin: auto;

}
/* --- section --- */

/* --- article --- */
.section-container{
    position: relative;
    width: 100vw;
    padding-right: 0;

padding-left: 0;

margin-right: 0;

margin-left: 0;
}
.deco-picture {
    background-image: url("./../img/home/encart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 14vh;
    position: absolute;
    right: 0;
    width: 49vw;
}

.article-col-6{
    left: 7% !important;
    margin-top: 15% !important;
}
.section-bottom{
    width: 100vw;
    margin: 0;
}
.graph{
    position: relative;

bottom: 0;

left: 5%;

height: 100%;
}
.img-fluid{
    max-width: 100%;

height: auto;
}
.round {

    background-position: right;
    background-position: bottom;
    background-repeat: no-repeat; 
    max-width: 100% ;
    height: auto;
    right: 0;
}

.red{
    right: 2px;

position: absolute;
}
.row-gallerie-img{
margin: 0;
margin-bottom: -33px;
}
.row.hidden-row {
    position: absolute;
    right: 18px;
    top: 304px;
}
.center-graph{
    height: 100%;
}

.p-red-round{
    font-family:Lucida Calligraphy,LucidaCalligraphy;font-size:15px;font-weight:bold;color:#ffffff;
    position: absolute; text-align: left;

    top: 45%;
    
    left: 29%;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }


  @media (max-width: 490px) {

  .round {

    background-position: right;
    background-position: bottom;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    right: 0;
    position: absolute;
    width: 36%;
    bottom: 89px;

}
.col-2 {

    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;

}
.col-6 {

    -ms-flex: 0 0 50%;
    flex: 0 0 62%;
    max-width: 62%;

}
.col-6 {

    -ms-flex: 0 0 50%;
    flex: 0 0 80%;
    max-width: 80%;

}
.graph {

    position: relative;
    bottom: 0;
    left: -3%;
    height: 100%;

}
.tags {

    color: 

#cc9900;

min-width: 100vw;

border-top:
#cc9900 solid 0.5px;

border-bottom:

    #cc9900 solid 0.5px;
    min-width: 101vw;

}
  }
